
<!-- Menu -->
<header class="header">
  <div class="burger">
    <div class="burger__patty"></div>
    <div class="burger__patty"></div>
    <div class="burger__patty"></div>
  </div>

  <nav class="menu">
    <div class="menu__brand">
      <a href=""><div class="logo"></div></a>
    </div>
    <ul class="menu__list">
      <li class="menu__item"><a href="" class="menu__link" data-toggle="modal" data-target="#log-in-modal">Track a package</a></li>
      <li class="menu__item"><a href="" class="menu__link" data-toggle="modal" data-target="#sign-up-modal">Sign up</a></li>
      <li class="menu__item"><a href="" class="menu__link" data-toggle="modal" data-target="#log-in-modal">Log in</a></li>
      <li class="menu__item">
        <a href="mailto:kan.adachi@hackreactor.com?Subject=Hello%20again" class="menu__link">Help</a>
      </li>
    </ul>
  </nav>
</header>

<!-- Jumbotron 404 not found -->
<div class="jumbotron">
  <div class="mary">
    <h1>Oh no!</h1>
    <p><img src="http://cdn.playbuzz.com/cdn/ad511292-fd6e-4f37-a029-8aa398fd39d1/d9f204c1-e1f3-4062-9176-51408d4551fe.gif" /></p>    
    <h2 class="fw300">The page you requested was not found.</h2>
    <p>Go <a routerLink="/"> home</a>.</p>
  </div>
</div>
