<footer id="pacafooter">
  <div class="container fluid">
      <div class="row">
          <div class="col-md-12 col-md-offset-0 col-sm-12 col-xs-12 mx-1 px-2">
              <ul>
                <li><a href="/"><img src="../../assets/alpacalogo.png" style="width: 50px; height:50px;"/></a></li>                    
                  <li><a href="#home">Privacy</a></li>
                  <li><a href="#news">Terms</a></li>
                  <li><a href="#contact">FAQ</a></li>
                  <li><a href="#news">Contact</a></li>
                  <li><a href="#news">©2017 Alpaca</a></li>
                  <li><a href="#">Back to top</a></li>
              </ul>
              </div>
      </div>
  </div>
</footer>