/* Footer
------------------------- */
$dark-text: #484848;

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $dark-text;
  }
  
  footer p {
    margin-bottom: .25rem;
  }