<footer id="pacafooter">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 ">
                <ul>
                    <li><a href="#home">Logo</a></li>
                    <li><a href="#home">Privacy</a></li>
                    <li><a href="#news">Terms</a></li>
                    <li><a href="#contact">FAQ</a></li>
                    <li><a href="#about">Contact</a></li>
                    <li><a href="#about">© 2017 Alpaca</a></li>
                </ul>
                </div>
                <div class="col-md-4">
                  <p class="float-right">
                      <a href="#">Back to top</a>
                    </p>
                    </div>
        </div>
    </div>
</footer>