/* Footer
------------------------- */

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #3b3d40;
    margin-top: 4rem !important;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  #pacafooter {
    background-color: #3b3d40;
    color: #616161 !important;
    padding-top: 30px;
}

#pacafooter .footer-copyright {
    text-align: center;
}

#pacafooter .row {
    margin-bottom: 60px;
}

#pacafooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#pacafooter .footer-copyright p {
    margin: 10px;
    color: #616161 !important;
}

#pacafooter ul {
    list-style-type: none;
    display: inline;    
    padding-left: 0;
    line-height: 4;
}

#pacafooter h5 {
    font-size: 18px;
    color: #616161 !important;
    font-weight: bold;
    margin-top: 30px;
}

#pacafooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#pacafooter a {
    color: #616161;
    text-decoration: none;
    font-family: 'soleil', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

#pacafooter a:hover,
#pacafooter a:focus {
    text-decoration: none;
    color: white !important;
}

#pacafooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#pacafooter .social-networks a {
    font-size: 20px;
    color: #616161 !important;
    padding: 10px;
    transition: 0.2s;
}

#pacafooter .social-networks a:hover {
    text-decoration: none;
}


@media screen and (max-width: 767px) {
    #pacafooter {
        text-align: center;
    }
}
#pacafooter ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-content: center;
}

#pacafooter li {
  float: left;
}

#pacafooter li a {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}