/* Footer
------------------------- */

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #3b3d40;
    margin-top: 4rem !important;
  }
  
#pacafooter {
    background-color: #3b3d40;
    color: #616161 !important;
    padding-top: 30px;
}

#pacafooter ul {
    list-style-type: none;
    display: inline;    
    overflow: hidden;
    align-content: center;
}

#pacafooter a {
    color: #616161;
    text-decoration: none;
    font-family: 'soleil', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

#pacafooter a:hover,
#pacafooter a:focus {
    text-decoration: none;
    color: #a6a6a6 !important;
}
#pacafooter li {
    padding-top: 1.25rem;
    float: right;
    padding-left: 1rem;
  }
  

