<!-- Home - Menu -->
<script src="menu.js"></script>
<header class="header">
  <div class="burger">
    <div class="burger__patty"></div>
    <div class="burger__patty"></div>
    <div class="burger__patty"></div>
  </div>

  <nav class="menu">
    <div class="menu__brand">
      <a href=""><div class="logo"></div></a>
    </div>
    <ul class="menu__list">
      <li class="menu__item"><a href="" class="menu__link" data-toggle="modal" data-target="#log-in-modal">Track a package</a></li>
      <li class="menu__item"><a href="" class="menu__link" data-toggle="modal" data-target="#sign-up-modal">Sign up</a></li>
      <li class="menu__item"><a href="" class="menu__link" data-toggle="modal" data-target="#log-in-modal">Log in</a></li>
      <li class="menu__item">
        <a href="mailto:kan.adachi@hackreactor.com?Subject=Hello%20again" class="menu__link">Help</a>
      </li>
    </ul>
  </nav>
</header>