<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Alpaca
  </h1>
  <app-register></app-register>
  <app-login></app-login>
  <upload-form></upload-form>
  <div> {{ (user | async)?.uid }} </div>
  <button (click)="login()">Login</button>
  <button (click)="logout()">Logout</button>
  <ul>
    <li class="text" *ngFor="let order of orders | async">
      <!-- {{order.$value}} -->
    </li>
  </ul>
  <button type="button" class ="btn btn-primary"> bootstrap test</button>
<!-- Uncomment below when we have our routes working -->
<app-forgot-password></app-forgot-password>
</div>
<router-outlet></router-outlet>

