<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-navbar></app-navbar> -->
<div class="container">
  <h1>
    Alpaca
  </h1>
  <!-- <div> {{ (user | async)?.uid }} </div> -->
  <input type="text" #newsize placeholder="Size" />
  <button (click)="addOrder({itemname: 'jordans', store: 'nordstom'})">add object</button>
  <button (click)="getOrder()">delete</button>
  <ul>
    <li class="text" *ngFor="let order of orders | async">
      {{order.itemname}} {{order.store}}
    </li>
  </ul>
  <button type="button" class ="btn btn-primary"> bootstrap test</button>
<!-- Uncomment below when we have our routes working -->
<!-- <router-outlet></router-outlet> -->
<!-- </div> -->
