$hero-turquoise: #06c8d9;
$light-blue-gradient: #e1f9fb;
$dark-blue-gradient: #b9f2f7;
$light-pink-gradient: #febeae;
$dark-pink-gradient: #fed3f0;
$light-yellow-gradient: #fff9d1;
$dark-yellow-gradient: #f8eea8;
$dark-text: #484848;
$light-text: #a6a6a6;
$button-attention-pink: #f74d62;