<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-navbar></app-navbar> -->
<!-- <div class="container">
  <h1>
    Alpaca
  </h1>
  <app-register></app-register>
  <app-login></app-login>
  <upload-form></upload-form> -->
  <div> {{ (user | async)?.uid }} </div>
  <button (click)="login()">Login</button>
  <button (click)="logout()">Logout</button>
  <!-- <ul>
    <li class="text" *ngFor="let order of orders | async">
    </li>
  </ul>
  <button type="button" class ="btn btn-primary"> bootstrap test</button>
  <app-forgot-password></app-forgot-password>
</div> -->


<!-- <app-add-order-dashboard></app-add-order-dashboard> -->
<!-- <app-login></app-login> -->

<!-- <app-register></app-register> -->
<!-- <app-order-details></app-order-details> -->
  <app-order-dashboard></app-order-dashboard>
  <!-- <app-order></app-order> -->


<!-- {{order.$value}} -->
<!-- Uncomment below when we have our routes working -->
<!-- <router-outlet></router-outlet> -->
