<!-- uncomment below to signup and add orders for testing -->

  <button (click)="findUser()">find user</button>
          <h3>register</h3>
          <app-register></app-register>
          

 <div *ngFor="let item of orders" >
    
  <article class="card">
    <div class="card-block">
      <div class="float-title-over-image">
        <h4 class="card-title">Order: {{item.ordername}}</h4>
        <h6 class="text-muted">Store: {{item.store}}</h6>
        <h6 class="text-muted">ETA: {{item.deliveryDate || 'UNAVAILABLE'}}</h6>
        <h6 class="text-muted">Status: {{item.status}}</h6>
      </div>
      <img class="order-detail-circle-crop" src="{{item.serviceImg}}" alt="ICON ARRAY BASED ON TIME VALUE HERE" />
    </div>
    <div class="card-block">
      <div class="btn-group hidden-sm-down hidden-md-down" role="group" aria-label="Card buttons">
        <a href="" class="btn btn-woah" data-toggle="modal" data-target="#order-detail" (click)="saveItem(item)">View Details</a>
      </div>
    </div>
  </article>

  <div class="modal fade" id="order-detail" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
        <div class="modal-body">
           <div class="row">
              <div class="col-md-6">
                <div class="photo-container">
                  <img src="" />
                </div>
              <div class="col-md-6">
                <p> {{item.ordername}} </p>
                <p> {{item.store}} </p>
                <p> {{item.status}} </p>
    
              </div>
            </div>        
          </div>
          <div class="modal-footer">
    <p>Share on Facebook or Twitter</p>
          </div>
        </div>
      </div>
    </div>
    </div>

</div>

<div class="modal fade" id="order-detail" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     </div>
    <div class="modal-body">
       <div class="row">
          <div class="col-md-6">
            <div class="photo-container">
              <img src="" />
            </div>
          <div *ngIf="currentOrder" class="col-md-6">
            <p> Info nickname: {{currentOrder.ordername}}</p>
            <p> Info Date for arrival: {{currentOrder.deliveryDate}} </p>
            <p> Current Status: {{currentOrder.status}} </p>
            <p> Current Location: {{currentOrder.currentLocation}} </p>
            <p> Carrier: {{currentOrder.service}} </p>
            <p> Store: {{currentOrder.store}} </p>   
          </div>
        </div>        
      </div>
      <div class="modal-footer">
<p>Share on Facebook or Twitter</p>
      </div>
    </div>
  </div>
</div>
</div> 

<app-add-order-dashboard></app-add-order-dashboard>