<!-- Order card  -->
<div class="row card-deck">
 <div *ngFor="let item of orders" >
    <div class="col-xs-12">
  <div class="card" style="width: 15rem;">
    <div class="card-block">
      <div class="float-title-over-image">
        <h4 class="card-title">{{item.ordername}}</h4>
        <h6 class="text-muted">{{item.deliveryDate || 'UNAVAILABLE'}}</h6>
      </div>
      <img class="order-detail-circle-crop" src="../../../assets/shipping-icons/{{item.status}}.png" alt="No available image" />
    </div>
    <div class="card-block">
      <div class="btn-group hidden-sm-down hidden-md-down" role="group" aria-label="Card buttons">
        <a class="btn btn-delete" (click)="delete(item)">Delete Order</a>          
        <a href="" class="btn btn-details" data-toggle="modal" data-target="#order-detail" (click)="saveItem(item)">View Details</a>
      </div>
    </div>
  </div>

<!--  Order modal  -->

<div class="modal fade" id="order-detail" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     </div>
    <div class="modal-body">
       <div class="row">
          <div class="col-md-6">
              <img class="order-detail-circle-crop" src="{{currentOrder.serviceImg}}" />
          <div *ngIf="currentOrder" class="col-md-6">
            <p> Info nickname: {{currentOrder.ordername}}</p>
            <p> Info Date for arrival: {{currentOrder.deliveryDate}} </p>
            <p> Current Status: {{currentOrder.status}} </p>
            <p> Current Location: {{currentOrder.currentLocation}} </p>
            <p> Carrier: {{currentOrder.service}} </p>
            <p> Store: {{currentOrder.store}} </p>   
          </div>
        </div>        
      </div>
      <div class="modal-footer">
<p>return</p>
      </div>
    </div>
  </div>
</div>
</div> 

</div>
