<div *ngIf='!name; else forminfo'>
    <form [formGroup]='rForm' (ngSubmit)="addPost(rForm.value)">
        <div class="form-container">
            <div class="row columns">
            
                <h1> Add Order</h1>
                <label>Nickname
                    <input type='text' formControlName='name'>
                </label>
                <div *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
                    This is required
                </div>

                <label> Tracking Number
                        <input type='text' formControlName='trackingnumber'>
                </label>
                <div *ngIf="!rForm.controls['trackingnumber'].valid && rForm.controls['trackingnumber'].touched">
                        A tracking number is required
                </div>

                <label> Store
                        <input type='text' formControlName='store'>
                </label>
                <div *ngIf="!rForm.controls['store'].valid && rForm.controls['store'].touched">
                        You must specify a store
                </div>

                <input type='submit' class='button expanded' value='submit form' [disabled]='!rForm.valid'>
            </div>
        </div>
    </form>
</div>
<!-- <div class="ordertrack">
        <div class="row">
          <div class="col-sm-12">
            <form class="form">
              <div class="row">
                <div class="form-group">
                  <label for="exampleInputEmail3">Track your package</label> <div class="w-100"></div>
                  <input type="text" class="form-control order" id="exampleInputEmail3" placeholder="Your tracking number...">
                </div>
                <div class="form-group">
                <label for="exampleInputEmail3">What did you get?</label> <div class="w-100"></div>
                  <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Your order nickname...">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail3">Where did you buy it?</label> <div class="w-100"></div>
                  <input type="text" class="form-control" id="exampleInputEmail3" placeholder="The store...">
                </div>
                  <button type="submit" class="btn btn-hero">Pac It!</button>
                </div>
              </div> 
            </form>
          </div>
        </div>
</div> -->