<div class="container">
  <h1>Add Order Form</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" >
    <div class="form-group">
      <label>nickname</label>
      <input type="text" name="nickname" required ngModel>
    </div>

    <div class="form-group">
      <label>tracking number</label>
      <input type="text" id="trackingnumber" name="trackingNumber" ngModel>
    </div>

    <div class="form-group">
        <label>store</label>
        <input type="text" id="store" name="store" ngModel>
    </div>

    <button type="submit">submit</button>
  </form>
</div>

<!-- <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="model.name" name="name"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Name is required
      </div>
    </div> -->