.hero-heading {
    font-weight: 800;
    line-height: 1;
    font-family: 'soleil', sans-serif;
    font-size: 5rem;
    animation: Gradient 15s ease infinite;
    background-image: linear-gradient(-45deg, #fff9d1, #febeae, #b9f2f7,  #06c8d9);
    background-size: 400% auto;
    letter-spacing: 3px;
    padding-top: 3rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.jumbotron {
	background: white;
    min-height: 100vh;
  	background: linear-gradient(-45deg, #fff9d1, #febeae, #b9f2f7,  #06c8d9);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  border-radius: 0;
}

.col-xs-12 {
  display: none;
}

/* Mouse scroll icon */

.icon-scroll,
.icon-scroll:before {
	position: absolute;
  left: 50%;
}

.icon-scroll {
	width: 40px;
	height: 70px;
	margin-left: -20px;
	top: 90%;
	margin-top: -35px;
	box-shadow: inset 0 0 0 2px #fff;
	border-radius: 25px;
}

.icon-scroll:before {
	content: '';
	width: 8px;
	height: 8px;
	background: #fff;
	margin-left: -4px;
	top: 8px;
	border-radius: 4px;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-name: scroll;
}

@-moz-keyframes scroll {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(46px);
	}
}

@-webkit-keyframes scroll {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(46px);
	}
}

@-o-keyframes scroll {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(46px);
	}
}

@keyframes scroll {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(46px);
	}
}

.form-control+.input-group-addon:not(:first-child) {
  border-left: 0;
  background: white;
}

.profile-image-circle-crop {
  width: 60px;
  height: 60px;
   background-size: cover;
  border-radius: 50%;
  z-index: 1;
  margin-top: 2rem;

}
