.hero-heading {
    font-weight: 800;
    line-height: 1;
    font-family: 'soleil', sans-serif;
    font-size: 5rem;
    animation: Gradient 15s ease infinite;
    background-image: linear-gradient(-45deg, #fff9d1, #febeae, #b9f2f7,  #06c8d9);
    background-size: 400% auto;
    letter-spacing: 3px;
    padding-top: 3rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.jumbotron {
	background: white;
    min-height: 100vh;
  	background: linear-gradient(-45deg, #fff9d1, #febeae, #b9f2f7,  #06c8d9);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  border-radius: 0;
}

.col-xs-12 {
  display: none;
}
